<!DOCTYPE html>
<html lang="en" class="h-100">
  <%= render "shared/head" %>

  <body class="d-flex flex-column h-100">
    <%= render "shared/nav" %>
    
    <main class="flex-shrink-0">
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
