<div id="footer">
	<div class="container">
		<ul class="nav navbar-nav">
			<li>
				<p class="text-muted">
					Built by <a href="mailto:karim@egyptiankarim.com" title="Email Karim Said">Karim Said</a> in <%= "#{Time.new.year}" %>.
				</p>
			</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="https://github.com/egyptiankarim" title="egyptiankarim @ GitHub" target="_blank">
						<%= image_tag("Octocat.png", {alt: "Octocat"}) %>
					</a>
				</li>
		</ul>
	</div>
</div>
